#Mon, 22 Apr 2013 19:00:01 -0600
app.name=BioLadderOrg

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.1.274

app.id=411aac49-7e6a-426e-8509-f4e2c023f6b2
