.link-btn {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  font-size: small;
}

.no-underline-link-btn {
  font-weight: normal;
  cursor: pointer;
  color: blue;
  font-size: small;
}

.taxon-panel {
  border-color: dark-grey;
  border-style: solid;
}

.taxon-panel-label {
  background:LightSteelBlue;
  cursor: pointer;
}

.taxon-box-contents .wikipedia-image {
  float:left;
  display:inline;
  max-width:250px;
  max-height:250px;
  margin-right: 5px;
  margin-bottom:5px;
  background:#ffffff;
}

.taxon-box-contents .example-member {
  float:left;
  display:inline;
  height:250px;
  width:250px;
  border: solid;
  padding: 5px;
  margin-right: 5px;
  margin-bottom:5px;
}

.taxon-box-contents .example-wikipedia-image {
  background:#ffffff;
  max-width:235px;
  max-height:180px;
}

.taxon-box-contents .description-text{
  font-size: 15px;
}

.about-clades-panel-text{
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 5px;
}
