.link-btn {
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  font-size: small;
}

.no-underline-link-btn {
  font-weight: normal;
  cursor: pointer;
  color: blue;
  font-size: small;
}

.taxon-panel {
  border-color: dark-grey;
  border-style: solid;
}

.taxon-panel-label {
  background:LightSteelBlue;
  cursor: pointer;
}

.wikipedia-image {
  background:#ffffff;
}