html, body{
    height:100%;
}
body{
    display: flex;
    flex-direction:column;
    padding: 0 !important;
    background-color: #acdcff;
}
.content{
    background-color:gray;
    flex-grow: 1;
}

.navbar-custom {
    background-color: #acdcff;
    margin-left:10px;
    margin-right:10px;
}

.navbar-custom .nav-link {
    filter: drop-shadow(1px 2px 2px);
    background-color: #acdcff;
    margin-left: 5px;
}
