#taxaView{
    width:100%;
    height:100%;
    background-color: #EEE
}

.taxon-box-background{
    fill: white
}

.taxon-box-outline{
    stroke-width: .75;
    stroke: black;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5.472px;
    fill: none
}

.taxon-details{
    overflow: scroll;
    overflow-x: hidden;
    height:100%
}

.taxon-details p{
    margin: 0;
    padding: 0;
    font-size: small;
}
